@charset "utf-8";

/* div화면 가운데 정렬 */
div{
    width: 700px;
    height: 600px;
    background-color: aliceblue;
    margin: auto;
}
header{
    width: 700px;
    height: 100px;
    background-color: antiquewhite;
}
nav{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    float: left;
    /* 옆으로 옮기는데 우두머리성질이라 다른것도 따라옴 */
}

section{
    width: 400px;
    height: 200px;
    background-color: brown;
    float: right;
}

footer{
    clear: both;
    /* float의 성질 없애주는 성질 */
    width: 700px;
    height: 100px;
    background-color: chocolate;
}